/* styles.css */
.center-text {
    text-align: center;
}

.big-font{
    font-size: 100px;
}

.medium-font{
    font-size: 60px;
}

.smallmed-font{
    font-size: 40px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}

img {
    max-width: 100%;
    height: auto;
}

.limited-image-size {
    max-width: 50%;
    height: auto;
}